@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  	background: linear-gradient(to bottom right, #3A5147, #EAEAEA);
  	font-family: 'Josefin Sans', sans-serif !important;
}


.ReactTable .rt-thead {
    overflow-y: scroll;
}

.ReactTable .rt-thead::-webkit-scrollbar {
   background: transparent; 
} 

.ReactTable .rt-tbody {
	font-size: 12px;
	line-height: 14px;
}

@media screen and (max-width: 500px) {
	.ReactTable .rt-tbody {
		font-size: 9px;
		line-height: 9px;
	}
	.ReactTable .rt-thead {
		font-size: 10px;
		margin-bottom: -10px;
	}
}


.tableFrame {
	padding-left: 2vw;
	padding-right: 2vw;
}

.rankheader {
	padding-top: 8.5vh;
	height: 17vh;
	font-size: calc(18px + 2vw);
}











