
.navbar-inverse span {
	color: white !important;
	opacity: .88;
}

.dropdown-toggle {
	color: white !important;	
	opacity: .88;
}

.navbar-text {
	color: white !important;
	opacity: .88;		
}

.twoColumns {
	min-width: 100px;
}

ul.dropdown-menu {
	width: 300px;
}