
.navbar-inverse span {
	color: white !important;
	opacity: .88;
}

.dropdown-toggle {
	color: white !important;	
	opacity: .88;
}

.navbar-text {
	color: white !important;
	opacity: .88;		
}

nav.navbar-fixed-top.navbar-inverse.navbar.navbar-default {
	min-height: 30px;
}

span.navbar-brand {
	padding-top: 12px !important;
	padding-bottom: auto;
	padding-top: auto;
	height: 20px;
}

button.navbar-toggle.collapsed {
	margin-top: 2px;
	margin-bottom: 2px;
}

a#basic-nav-dropdown.dropdown-toggle {
	padding-top: 12px;
	padding-bottom: 10px;
}

#navbarHome {
	padding-top: 12px;
	padding-bottom: 10px;
}

p.navbar-text.navbar-right {
	margin-top: 12px;
	margin-bottom: 10px;
}