.guideInstructions {
	border: 2px solid black;
	padding: 3px 3px 3px 3px;
	background-color: #5E8091;
}


div.color {
	border: 1px solid black;
	height: 1em;
}

.guideheader {
	height: 27vh;
	padding-top: 60px;
}

.guideheader h1 {
	font-size: 32px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.keyText {
	font-size: calc(6px + .5vw);
}
